ion-content {
    --background: linear-gradient( 180deg, rgba(1, 167, 88, 1) 30%, rgba(26, 165, 211, 1) 50%) !important;
}

#btn {
    margin-left: 100px;
}

#pos {
    margin-top: 8px;
    margin-left: 220px
}

.close {
    width: 30px;
    height: 20px;
    margin-top: 2px;
}

.text {
    font-weight: bolder;
    font-size: 20px;
    color: rgba(1, 167, 88, 1);
    margin-top: -15px;
}

#col-Text {
    color: rgba(26, 165, 211, 1);
}

.margin {
    margin-left: 20px;
}

.info1 {
    width: 98%;
    margin-left: 1%;
    font-size: 14px;
    margin-top: -8px;
    line-height: 10px;
}

.image1 {
    width: 92%;
    margin-left: 4%;
    margin-top: -2px;
    height: 14%
}

.info2 {
    width: 98%;
    margin-left: 1%;
    margin-left: 20px;
    font-size: 14px;
    line-height: 5px;
}

#img2 {
    width: 92%;
    margin-left: 4%;
}