<ion-header style="width:100%;">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu" slot="start" class="btn_menu" style="color:  rgba(46, 154, 201, 1)  !important;"></ion-menu-button>
        </ion-buttons>
        <div>


            <ion-title class="logo">
                <img src="../../../assets/image/logo.jpg">
            </ion-title>
        </div>

        <ion-buttons (click)="notif()" *ngIf="global.connected === true" slot="end">
            <ion-icon class="Icon" color="success" name="notifications"></ion-icon>
            <div class="count">3</div>
        </ion-buttons>
        <ion-buttons slot="end" (click)="conexion()">
            <ion-icon class="Icon" color="primary" name="person-circle-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>