<!-- <ion-header [translucent]="true" style="width:100%;">
    <ion-toolbar class="bg">
        <ion-menu-button menu="main-menu" slot="start" class="btn_menu" style="color:  rgba(46, 154, 201, 1)  !important;"></ion-menu-button>
        <div>

            <img class="logo" src="../../../assets/image/logo.jpg">
        </div>

        <ion-icon class="Icon" color="success" name="notifications" slot="end" (click)="notif()" *ngIf="global.connected === true"></ion-icon>
        <ion-icon class="Icon" color="primary" name="person-circle" (click)="conexion()" slot="end"></ion-icon>

    </ion-toolbar>


</ion-header> -->

<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu" slot="start" class="btn_menu" style="color:  rgba(46, 154, 201, 1)  !important;"></ion-menu-button>
        </ion-buttons>
        <div>


            <ion-title class="logo">
                <img src="../../../assets/image/logo.jpg">
            </ion-title>
        </div>
        <ion-buttons slot="end">
            <ion-icon class="Icon" color="success" name="notifications" (click)="notif()" *ngIf="global.connected === true"></ion-icon>
            <ion-icon class="Icon" color="primary" name="person-circle-outline" (click)="conexion()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>