.bg {
    padding-top: 15px;
}

.Icon {
    margin-right: 10px;
    font-size: 30px;
}

.logo {
    // margin-left: auto;
    // margin-right: auto;
    // // margin-right 
    width: 70%;
    margin-left: 15%;
}

.btn_menu {
    color: #2e9ac9;
    font-size: 30px;
    margin-right: 10px;
}