<div class="connect">
    <p>DEMANDES</p>
</div>

<div class="imag_cad">
    <table style="width: 100%;">
        <thead>
            <th id="image">
                <ion-icon id="icon" (click)="Nouvelle()" color="light" slot="end" name="star"></ion-icon>
            </th>
            <th id="image">
                <ion-icon id="icon" (click)="Confirmer()" color="light" slot="end" name="checkmark-circle"></ion-icon>
            </th>
            <th id="image">
                <ion-icon id="icon" (click)="Annuler()" color="light" slot="end" name="close-circle"></ion-icon>
            </th>
        </thead>
        <tbody style="text-align: center;color: white;">
            <td> Nouvelles</td>
            <td> Confirmées</td>
            <td> Annulées</td>
        </tbody>
    </table>
</div>