ion-content {
    --background: linear-gradient( 180deg, rgba(1, 167, 88, 1) 30%, rgba(26, 165, 211, 1) 50%) !important;
}

.img {
    height: 40px;
    width: 15%;
    margin-top: 35px;
    margin-left: 42.5%;
}

.input {
    border: 1px solid;
    color: rgba(26, 165, 211, 1);
    width: 80%;
    margin-left: 10%;
}

.btn {
    color: white;
    background-color: #3b5998;
    width: 35%;
    margin-left: 32.5%;
    height: 30px;
}

#iconfb {
    color: #3b5998;
    margin-left: 5px;
    width: 40px;
    height: 40px;
}