ion-content {
    --background: linear-gradient( 180deg, rgba(1, 167, 88, 1) 30%, rgba(26, 165, 211, 1) 50%) !important;
}

ion-item {
    --background: transparent;
}

.annul {
    color: rgb(253, 93, 93);
}